.list-view-edit {
  
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  &__input-group {
    margin-bottom: 10px;
    .form-control {
      height: auto;
    }

    .glyphicon {
      font-size: 12px;
    }
  }

  &__btn-remove {
    cursor: pointer;
    svg #remove {
      transition: 200ms;
      transition-timing-function: ease-in-out;
      fill: #6e6e6e; 
    }
    &:hover {
      svg #remove { fill: #3b3b3b; }
    }
  }
}