@import '../../styles/utils/_bootstrap-utils';

#word-form {
  width: 50%;
  @include media-breakpoint-down(md) {
    width: 80%;
    margin-left: auto;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding: 0!important;
    margin: 0!important;
    border: none!important;
    background: none!important;
  }
}