.word-form {
  $list-view-width: 250px;
  &__value-input-group .form-control {
    height: 40px;
  }
  &__lists {
    display: flex;
    align-items: flex-start;
  }
  &__list {
    width: $list-view-width;
    margin-right: 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.63);
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    margin-top: 30px;
  }
}