@font-face {
  font-family: 'noto-sans';
  src: url('../fonts/NotoSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto-sans';
  src: url('../fonts/NotoSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}